<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <p>Enter A sentence</p>

    <form action="/result" method="post">
      <label for="userInput">SENTENCE</label>
      <input type="text" name="userInput">
    </form>
  </body>
</html>
